<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

  <!-- 
  The settings here control the association that is targetted by these API examples.
  For mor
  
  For information on finding your association ID and getting an Access Keypair set up,
  see the API documentation at:
  
  http://api.docs.membersuite.com
   
  
  
  -->
  <add key="AssociationID" value="2537d8c3-0004-4ddb-b7e4-a6d76c09d3f9"/>
  <add key="AccessKeyID" value="AAAAAPIA/UObVXfWokrswA"/>
  <add key="SecretAccessKey" value="PislBM1IXpWjshA/IQagSzrJ/FiXbuJu80zaKctvLO/CzHcZXYC9F8MbatI2jtFY4TZRU3TsmYflg3HsSYdWOQ=="/>
  </appSettings>
</configuration>